@use '../../global-styles/variables.scss' as *;

// GENERAL STYLES

.home-outer-wrapper {
  min-height: 100vh;
  background: url('../../assets/home/background-home-mobile.jpg'), $clr-dark-blue;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 8rem 1.75rem 3rem 1.75rem;

  @media(min-width: 29rem) {
    background: url('../../assets/home/background-home-tablet.jpg'), $clr-dark-blue;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 12rem;
    padding-bottom: 10rem;
  }

  @media(min-width: 60rem) {
    background: url('../../assets/home/background-home-desktop.jpg'), $clr-dark-blue;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 20rem;
  }
}

.home {
  @media(min-width:60rem) {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 1300px;
    margin: 0 auto;
    gap: 6rem;
  }
  @media(min-width:100rem) {
    max-width: 1400px;
    justify-content: space-between;
  }
}

.home-text-wrapper {
  @media(min-width: 60rem) {
    text-align: left;
  }
}

// TITLE

.home__title {
  font-size: clamp(1rem, 2.5vw, 1.75rem);
  font-weight: 400;
  letter-spacing: 3px;
}

.home__title-highlight {
  display: block;
  font-size: clamp(5rem, 20vw, 9.375rem);
}

.home__text {
  font-size: clamp(0.9375rem, 2.75vw, 1.125rem);
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 1.75;
  max-width: 27rem;
  margin: 0 auto;
}

// EXPLORE BUTTON

.explore-btn {
  background: hsl(0, 0%, 100%);
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  letter-spacing: 2px;
  font-size: clamp(1.25rem, 4vw, 2rem);
  width: clamp(9.375rem, 32vw, 17.125rem);
  height: clamp(9.375rem, 32vw, 17.125rem);
  margin-top: 4.5rem;
}