@use '../global-styles/variables.scss' as *;

button:focus {
  /* Provide a fallback style for browsers
     that don't support :focus-visible */
  outline: 2px dashed $clr-white;
  opacity: 1;
}

button:focus:not(:focus-visible) {
  /* Remove the focus indicator on mouse-focus for browsers
     that do s  upport :focus-visible */
  outline: none;
}

button:focus-visible {
  /* for browsers that do support :focus-visible */
  outline: 2px dashed $clr-white;
  opacity: 1;
}