@use '../global-styles/variables.scss' as *;

// GENERAL STYLES

header {
  position: absolute;
  width: 100%;
  padding-top: 1.25rem;
  padding-left: 2rem;
  padding-bottom: 1rem;
  @media(min-width: 60rem) {
    padding-top: 3.15rem;
  }
}

.nav-skip {
  text-decoration: none;
  color: #0B0D17;
  cursor: pointer;
  background: $clr-white;
  border: 0;
  border-radius: 0 0 5px 5px;
  padding: .5rem 1.5rem;
  position: absolute;
  top: 0;
  left: 0.5rem;
  transform: translateY(-120%);
  transition: transform .4s ease-in;
  text-transform: uppercase;
  font-size: 1.5rem;
}

.nav-skip:focus {
  transform: translateY(0);
  outline: none;  
}

.logo {
  width: clamp(2.25rem, 4vw, 3rem);
}

.logo:focus {
  outline: 2px dashed $clr-white;
}

.logo:focus:not(:focus-visible) {
  outline: none;
}

.logo:focus-visible {
  outline: 2px dashed $clr-white;
}

// NAV MENU

.nav-menu {
  position: fixed;
  z-index: 1000;
  inset: 0 0 0 30%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 10rem 2rem;
  background: hsla(230, 35%, 7%, 0.975);
  
  @media(min-width: 40rem) {
    position: absolute;
    background: hsla(0%, 0%, 59%, .2);
    flex-direction: row;
    justify-content: center;
    padding: 2rem 0rem;
    
  }

  @media(min-width: 60rem) {
    background: hsla(0, 0%, 59%, 0.25);
    gap: 5rem;
    top: 2rem;
    padding-bottom: 3.5rem;

    &::before {
      content: '';
      border: 0;
      border-top: 1px solid $clr-white;
      opacity: 0.2;
      width: clamp(12rem, 22vw, 25rem);
      background: 0;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateX(calc(-100% + 1.5rem)) translateY(-50%);
    }
  }
}

//Backdrop filter for browsers supporting it

@supports (backdrop-filter: blur( 9px )) {
  .nav-menu {
    background: hsla(0, 0%, 59%, 0.1);
    backdrop-filter: blur( 9px );
    -webkit-backdrop-filter: blur( 9px );
  }
}

.hamburger-btn {
  background: transparent;
  border: 0;
  cursor: pointer;
  position: absolute;
  z-index: 9999;
  top: 2rem;
  right: 2rem;
  @media(min-width: 40rem) {
    display: none;
  }
}

.hamburger-btn:focus {
  outline: 2px dashed $clr-white;
}

.hamburger-btn:focus:not(:focus-visible) {
  outline: none;
}

.hamburger-btn:focus-visible {
  outline: 2px dashed $clr-white;
}


//MENU ITEM STYLES

.menu-item {
  color: $clr-white;
  cursor: pointer;
  font-size: 1rem;
  position: relative;
}

// 01 - Focus styles

.menu-item:focus {
  outline: 2px dashed $clr-white;
}

.menu-item:focus:not(:focus-visible) {
  outline: none;
}

.menu-item:focus-visible {
  outline: 2px dashed $clr-white;
}

// 02 - Hover animation

.menu-item::before {
  @media(min-width: 40rem) {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 3.1rem;
  background: $clr-white;
  width: 0;
  height: 3px;
  transition: all .3s ease-in;
  }
}

.menu-item:hover {
  color: $clr-white;
}

.menu-item:hover::before {
  width: 100%;
}

// 03 - Number styles

.menu-item-number {
  font-weight: 700;
  padding-right: 1rem;
  @media (min-width:40rem) {
    display: none;
  }
  @media(min-width: 86rem) {
    display: inline-block;
  }
}

