@use '../global-styles/variables.scss' as *;

.technology-container {
  background: url('../../public/images/technology/background-technology-mobile.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  @media(min-width: 29rem) {
    background: url('../../public/images/technology/background-technology-tablet.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media(min-width: 60rem) {
    background: url('../../public/images/technology/background-technology-desktop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.tech-container-inner {
  @media(min-width:84rem) {
    width: 1350px;
  }
}

.tech-text {
  @media(min-width:60rem) {
    order: 1;
    display: flex;
    align-items: center;
    gap: 2rem;
  }
}

.tech-img { 
  @media(min-width:60rem) {
  order: 2;
}
}

.technology-btn-container {
  display: flex;
  gap: 1rem;
  justify-content: center;
  padding-block: 2rem;
  @media(min-width:60rem) {
    flex-direction: column;
  }
}

.technology-page-btn {
  border: 1px solid $clr-white;
  border-radius: 50%;
  background: 0;
  cursor: pointer;
  width: clamp(2.5rem,4.5vw, 5rem);
  height: clamp(2.5rem,4.5vw, 5rem);
  text-align: center;
  font-size: clamp(1.5rem,1.75vw,2rem)
}

.technology-page-btn.technology-active {
  background: white;
  color: #0B0D17;
}

.const-tech-title {
  font-size: clamp(0.875rem, 2vw, 1rem);
  letter-spacing: 3px;
}

.tech-title {
  font-family: $ff-bellefair;
  font-size: clamp(1.5rem, 4vw, 3.5rem);
  text-transform: uppercase;
  padding-block: 0.5rem 1rem;
}