@use '../global-styles/variables.scss' as *;

.technology-container {
  background: url('../../public/images/technology/background-technology-mobile.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: $clr-white;
  min-height: 100vh;
  display: grid;
  place-items: center;
  padding-top: 3rem;

  @media(min-width: 29rem) {
    background: url('../../public/images/technology/background-technology-tablet.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media(min-width: 60rem) {
    background: url('../../public/images/technology/background-technology-desktop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.inner-container {
  text-align: center;

  @media(min-width:60rem) {
    display: flex;
    text-align: left;
  }
}

.tech-text {
  @media(min-width:60rem) {
    order: 1;
    display: flex;
    align-items: center;
    gap: 2rem;
  }

}

picture { 
  @media(min-width:60rem) {
  order: 2;
}
}

.page-title {
  font-family: $ff-barlow-condensed;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding-bottom: 2rem;
}

.page-title-number {
  font-weight: 500;
  opacity: .25;
  padding-right: .75rem;
}

.btn-container {
  display: flex;
  gap: 1rem;
  justify-content: center;
  padding-block: 2rem;
  @media(min-width:60rem) {
    flex-direction: column;
  }
}

.tech-page-btn {
  all: unset;
  border: 1px solid $clr-white;
  border-radius: 50%;
  cursor: pointer;
  width: 2.5rem;
  aspect-ratio: 1;
  text-align: center;
}

.const-subtitle {
  color: $clr-pastel-blue;
  font-family: $ff-barlow-condensed;
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 3px;
}

.dynamic-subtitle {
  font-family: $ff-bellefair;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding-block: 0.5rem 1rem;
}

.page-description {
  font-family: $ff-barlow;
  font-weight: 300;
  font-size: 0.9375rem;
  max-width: 20rem;
  margin: 0 auto;
  line-height: 1.75;
}