@use '../../assets/global-styles/variables.scss' as *;

.crew-container {
  background: url('../../../public/images/crew/background-crew-mobile.jpg'), $clr-dark-blue;
  background-repeat: no-repeat;
  background-size: cover;

  @media(min-width: 29rem) {
    background: url('../../../public/images/crew/background-crew-tablet.jpg'), $clr-dark-blue;
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media(min-width: 60rem) {
    background: url('../../../public/images/crew/background-crew-desktop.jpg'), $clr-dark-blue;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.crew-container-inner {
  max-width: 1200px;
  align-items: flex-end;
}

.crew-text {
  @media(min-width: 60rem) {
    order: 1;
    display: flex;
    flex-direction: column;
    align-self: center;
  }
}

.crew-img {
  padding-inline: 6.5rem;
  margin: 0 auto;
  position: relative;
  max-width: 30rem;
  @media(min-width: 60rem) {
    order: 2;
    padding-inline: 0;
  }
}

.crew-img::after {
  content: '';
  position: absolute;
  border-top: 1px solid $clr-white;
  opacity: 0.2;
  width: 85%;
  max-width: 30rem;
  left: 50%;
  transform: translateX(-50%);
  @media(min-width: 60rem) {
    display: none;
  }
}

.job-title {
  font-size: clamp(1rem, 2vw, 2rem);
  opacity: .5;
}

.name {
  font-size: clamp(1.5rem, 4vw, 3.5rem);
  letter-spacing: 2px;
}

  .crew-btn-container {
    display: flex;
    gap: 1rem;
    justify-content: center;
    padding-block: 2rem;
    @media(min-width: 60rem) {
      order: 2;
      justify-content: flex-start;
    }
  }

  .crew-page-btn {
    cursor: pointer;
    background: none;
    border: none;
    opacity: .5;
  }

  .crew-page-btn.crew-active {
    opacity: 1;
  }
 
  .btn-circle {
    background: $clr-white;
    width: clamp(10px, 1vw, 15px);
    height: clamp(10px, 1vw, 15px);
    border-radius: 50%;
  }